@font-face {
    font-family: 'Spoqa Han Sans';
    src: url(https://frontend-design-system.socar.kr/fonts/SpoqaHanSansRegular.woff2);
    font-weight: normal;
}

@font-face {
    font-family: 'Spoqa Han Sans';
    src: url(https://frontend-design-system.socar.kr/fonts/SpoqaHanSansBold.woff2);
    font-weight: bold;
}





body,html,section{ background:#ebf6ff; overflow-x: hidden; margin: 0px;  word-break:keep-all; overflow-wrap:break-word;
font-family: 'Spoqa Han Sans',sans-serif; }

p{ margin-block-end: 0px; margin-block-start: 0px; margin-right: 0px;}
{color:#fff; filter: drop-shadow(0px 0px 10px rgba(70, 129, 196, 0.2));}
h1,h2{color:#fff;}
h3{color:#161D24;}
b1,b2,c1{color:#28323C;}

a{text-decoration: none; color:#374553;}

h1,c1{font-weight: bold;}
h2,b1,b2,c2,c3{font-weight: normal;}

h1{font-size:44px; line-height:50px; margin-block-end:32px; margin-block-start: 18px;}
h2{font-size:16px; line-height:26px; margin-block-end:16px; margin-block-start: 0px; }
h3{font-size:24px; line-height:32px; margin-block-start: 8px;     margin-block-end: 8px;}
h4{font-size:20px; line-height:32px; margin-block-start: 8px;     margin-block-end: 40px;}


b1{font-size:18px;line-height:26px;}
b2{font-size:14px;line-height:22px;color:#646f7c; margin-block-start: 8px;}


c1{font-size:14px;line-height:22px;}
c2{font-size:14px;line-height:22px; color:#646f7c; margin-block-start: 8px;}


#campaign-01 {
  background: url('https://d353obgi8xzt9w.cloudfront.net/notice/20210616/006ebaea39b953050ee96818387ff056.jpg') repeat fixed #eee;
  height: 100vh;
  background-size : 100%;
  background-position: 0 100%;
  width: 100%;
  position: relative;
}

#campaign-01 article {
  height:30vh;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%;
}

#campaign-02 {
  background: url('https://d353obgi8xzt9w.cloudfront.net/notice/20210616/d4f5fad6e71fa46bf6b2a05c835c8e5c.jpg') repeat fixed  ;
  min-height: 100vh;
  background-size : cover;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.3);
  box-shadow: 0 0 50px rgba(0,0,0,0.3);
}

#campaign-02 article {
  height: 458px;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%;
}



#campaign-03 {
  background: url('https://d353obgi8xzt9w.cloudfront.net/notice/20210616/bddde1f86a896f79d407f3df5f76fcc9.jpg') repeat fixed ;
  min-height: 100vh;
  margin: 0 auto;
  background-size : cover;
  width: 100%;
  max-width: 1920px;
  position: relative;
}

#campaign-03 article {
  height: 458px;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%;
}

#campaign-01 b1 {color: #fff;}
#campaign-02 b1 {color: #fff;}
#campaign-03 b1 {color: #fff;}



#main_mo{
  background: #f7f7f7;
  background-size:cover;
  background-position:center;
  height:80vh;
  text-align:center;}

#main_mo .text {
  position: static;
  padding-top: 60px;
  padding: 80px 24px 0px 24px;
}


#main_pc {display: none;}


.bg {
    position: relative;
    z-index: 0;
    top: 0px;
    display: block;
}

#campaign_movie{
  background: #ffffff;
  padding-top: 40px;
  padding-bottom: 0px;}
#campaign_movie .text { position: relative;margin: auto 0;
  padding: 80px 0px 80px 0px;text-align: center; z-index: 01;}

#car{
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 30px;

}

#car .text { position: relative;margin: auto 0;
padding: 80px 0px 80px 0px;text-align: center; z-index: 01;}



#coupon{
  background: linear-gradient(180deg, #E6F6FF 0%, #FFFFFF 100%);
  padding-top: 0px;
  padding-bottom: 30px;}

#coupon .text {position: relative;margin: auto 0;
padding: 80px 0px 80px 0px;text-align: center; z-index: 01;}
#coupon .coupon_box {position: static;
background: #FFFFFF;  border-radius: 10px;
box-shadow: 0px 4px 30px rgba(214, 214, 214, 0.51); position: relative; margin: 44px;
padding: 34px 0px 34px 0px;text-align: center;}
#coupon .coupon_box h3 {font-weight: normal; line-height:36px;}
#coupon .coupon_box b2 {font-weight: bold; color: #00b8ff;padding-bottom: 14px;}
#move{background: none;
    position: relative;
    left: 160px;
    top: -80px;}

#link{
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 60px;}

  #notice{background:#f7f8f9;padding-bottom: 120px;padding-top: 60px;}
  .check-list {padding-inline-start: 16px;}
  .check-list li {margin-top: 2px; line-height: 20px; text-align: left; position: relative;}
  ::marker{font-size:6px;}

  #notice p{margin-top:40px;}


#btn
{margin-top: 40px;
text-align: center;
border: 0px solid #FFFFFF;
float: center;
border-radius: 4px;
width: 100%;
background: #00b8ff;
height: 64px;
font-size: 16px;
font-weight:400;
color: #fff;}


#kakao{ display:flex; margin-top: 30px;text-align: left;border: 0px solid #fff;background-color: #fff;
        border-radius: 12px;width: 100%;padding: 24px;font-size: 16px;font-weight:bold; color: #646f7c;
        box-shadow: 0px 4px 30px rgba(214, 214, 214, 0.51);
      }
#kakao p{padding-left: 30%; padding-top: 4%; font-size: 24px;}




  .btn-container{position: relative;padding-left: 24px;padding-right: 24px;}

.white-bg { color: #1D202B;  }
.slide-up-wrap {height: 100%;   background-size: 100%;


}

.button { display:flex; width:158px;
  border: 1px solid #fff;
  height: 40px; border-radius: 30px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.3);  z-index: 999;
  border-left: 1px solid #ffffff;
  -webkit-backdrop-filter: brightness(1.1) blur(10px);


  }
.button .item1{text-align: center;  margin: auto; color: #fff;}










.swiper-container { width: 100%; height: 380px;  margin-top: 0px;}
.swiper-wrapper{width: 100%; height: auto;  margin: 0px;}
.swiper-slide { width: 100%; margin: 0px; }


.sw_txt {
width: 100%;
height: 100%;
padding: 54px 28px;
  background: linear-gradient(180deg, #CEF1FF 0%, #FFFFFF 53.46%);
  border: 1px solid #edfaff;
  box-sizing: border-box;
  box-shadow: -1px 18px 20px rgba(137, 178, 193, 0.15);
  border-radius: 10px;
   color: #374553; text-align:center;}
   .sw_txt img {
     width: 126%;top:-14px;
     left: -26px; position: relative;}
        .sw_txt p{padding-bottom: 12px;}
        .sw_txt b1{font-size:16px;line-height:24px;}
.tag{ font-size: 14px;
  padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid #00b8ff;
    color: #00b8ff;
    border-radius: 20px;
}


.swiper-container2 { width: 100%; height: 180px;  margin-top: 0px;}

.sw_txt2 {
width: 100%;
height: 100%;
padding: 38px 28px 40px 28px;
border: 0px solid #EAF4FC;
  box-sizing: border-box;
  border-radius: 10px;
   color: #374553; text-align:center;}
   .sw_txt2 img {
     width: 126%;top:-14px;
     left: -26px; position: relative;}
        .sw_txt2 p{padding-bottom: 12px;}
        .sw_txt2 b1{font-size:16px;line-height:24px;}
        .sw_txt2 h2{font-weight: bold;color: #28323c;font-size:24px; line-height:26px; margin-block-end:0px; margin-block-start: 8px; }


.container {
position: relative;
margin-left: auto;
margin-right: auto;
padding-right: 24px;
padding-left: 24px;

 }

.container1 {
position: relative;
margin-left: auto;
margin-right: auto;
padding-top: 40px;
padding-right: 24px;
padding-left: 0px;
}



.container2 {
position: relative;
margin-left: auto;
margin-right: auto;
padding-top: 100px;
padding-right: 0px;
padding-left: 24px;

}



.container2 .text1{
  position: relative;
  padding-top: 34px;
  padding-right: 24%;

}
.container2 .text2{
  position: relative;
  padding-top: 80px;
  padding-right: 24%;

}


.container4 {
position: relative;
margin-left: auto;
margin-right: auto;
background: #ffffff;
padding-bottom: 100px;}






.container5 {
position: relative;
margin-left: auto;
margin-right: auto;
padding-top: 44px;
padding-right: 24px;
padding-left: 84px;

}


.container2_2 {
  overflow-x:hidden;
position: relative;
margin-left: auto;
margin-right: auto;
padding-right: 0px;
padding-left: 100px;
z-index: 999;
display: contents;

}






@media (min-width: 576px) {
#campaign-01 {
  background: url(https://d353obgi8xzt9w.cloudfront.net/notice/20210616/006ebaea39b953050ee96818387ff056.jpg) 0 100%  repeat fixed #eee;
  height: 100vh;
  background-repeat : no-repeat;
  background-size : 100%;
  background-position: 0 100%;
  width: 100%;
  position: relative;
}

#campaign-01 article {
  height:30vh;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%;
}

#campaign-02 {
  background: url(https://d353obgi8xzt9w.cloudfront.net/notice/20210616/d4f5fad6e71fa46bf6b2a05c835c8e5c.jpg) 100% 0 repeat fixed  ;
  min-height: 100vh;
  background-repeat : no-repeat;
  background-size : cover;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.3);
  box-shadow: 0 0 50px rgba(0,0,0,0.3);
}

#campaign-02 article {
  height: 458px;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%;
}



#campaign-03 {
  background: url(https://d353obgi8xzt9w.cloudfront.net/notice/20210616/bddde1f86a896f79d407f3df5f76fcc9.jpg) 100% 0 repeat fixed ;
  min-height: 100vh;
  margin: 0 auto;
  background-repeat : no-repeat;
  background-size : cover;
  width: 100%;
  max-width: 1920px;
  position: relative;
}

#campaign-03 article {
  height: 458px;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%;
}

#campaign-01 b1 {color: #fff;}
#campaign-02 b1 {color: #fff;}
#campaign-03 b1 {color: #fff;}






}
@media (min-width: 768px) {
#campaign-01 {
  background: url(https://d353obgi8xzt9w.cloudfront.net/notice/20210616/006ebaea39b953050ee96818387ff056.jpg) 0 100%  repeat fixed #eee;
  height: 100vh;
  background-repeat : no-repeat;
  background-size : 100%;
  background-position: 0 100%;
  width: 100%;
  position: relative;
}

#campaign-01 article {
  height:30vh;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%;
}

#campaign-02 {
  background: url(https://d353obgi8xzt9w.cloudfront.net/notice/20210616/d4f5fad6e71fa46bf6b2a05c835c8e5c.jpg) 100% 0 repeat fixed  ;
  min-height: 100vh;
  background-repeat : no-repeat;
  background-size : cover;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.3);
  box-shadow: 0 0 50px rgba(0,0,0,0.3);
}

#campaign-02 article {
  height: 458px;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%;
}



#campaign-03 {
  background: url(https://d353obgi8xzt9w.cloudfront.net/notice/20210616/bddde1f86a896f79d407f3df5f76fcc9.jpg) 100% 0 repeat fixed ;
  min-height: 100vh;
  margin: 0 auto;
  background-repeat : no-repeat;
  background-size : cover;
  width: 100%;
  max-width: 1920px;
  position: relative;
}

#campaign-03 article {
  height: 458px;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%;
}

#campaign-01 b1 {color: #fff;}
#campaign-02 b1 {color: #fff;}
#campaign-03 b1 {color: #fff;}





  }
@media (min-width: 992px) {
#campaign-01 {
  background: url(https://d353obgi8xzt9w.cloudfront.net/notice/20210616/006ebaea39b953050ee96818387ff056.jpg) 0 100%  repeat fixed #eee;
  height: 100vh;
  background-repeat : no-repeat;
  background-size : 100%;
  background-position: 0 100%;
  width: 100%;
  position: relative;
}

#campaign-01 article {
  height:30vh;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%;
}

#campaign-02 {
  background: url(https://d353obgi8xzt9w.cloudfront.net/notice/20210616/d4f5fad6e71fa46bf6b2a05c835c8e5c.jpg) 100% 0 repeat fixed  ;
  min-height: 100vh;
  background-repeat : no-repeat;
  background-size : cover;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.3);
  box-shadow: 0 0 50px rgba(0,0,0,0.3);
}

#campaign-02 article {
  height: 458px;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%;
}



#campaign-03 {
  background: url(https://d353obgi8xzt9w.cloudfront.net/notice/20210616/bddde1f86a896f79d407f3df5f76fcc9.jpg) 100% 0 repeat fixed ;
  min-height: 100vh;
  margin: 0 auto;
  background-repeat : no-repeat;
  background-size : cover;
  width: 100%;
  max-width: 1920px;
  position: relative;
}

#campaign-03 article {
  height: 458px;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%;
}

#campaign-01 b1 {color: #fff;}
#campaign-02 b1 {color: #fff;}
#campaign-03 b1 {color: #fff;}





}


@media (min-width: 1200px) {
  .line {
    border-bottom: 1px solid #61D3FF;
    box-shadow: inset 0 -16px 0 #61d3ff;
}


  h1{font-size:58px; line-height:58px;}
  h2{font-size:28px; line-height:60px; font-weight:normal; }
  h3{font-size:32px; line-height:50px; margin-block-start: 8px;}
  h4{font-size:28px; line-height:32px; margin-block-start: 8px;     margin-block-end: 40px;}

  b1{font-size:24px; line-height:38px;}
  b2{font-size:18px;line-height:28px;}
  c1{font-size:16px;line-height:26px;}

  c2{font-size:16px;line-height:26px;}


  .swiper-container { width: 100%; height: 450px;  margin-top: 0px;}
.sw_txt2 b1{font-size:18px;}
  .container4 {
padding-left: 20%;
padding-right:20%;
     }

     .container4_car {
       background:#E6F6FF;
   padding-left: 20%;
   padding-right:20%;
        }

     #main_mo{display: none;}
.coupon_box{  -webkit-mask: radial-gradient(circle at 18px, #0000 18px, #fff 0);
-webkit-mask-position: -18px;}
.sw_txt2{  -webkit-mask: radial-gradient(circle at 14px, #0000 14px, #fff 0);
-webkit-mask-position: -14px;}







          #main_pc{
            display: block;
            background: #f7f7f7;
            background-size:cover;
            background-position: 0 40%;
            height: 100vh;
            text-align:center;}

          #main_pc .text {
            position: static;
            padding:10% 20%;
          }







     #campaign-01 {
       background: url(https://d353obgi8xzt9w.cloudfront.net/notice/20210618/55e7966f8cad26ee4af7780d2f1d1f9a.jpg) 0 100%  repeat fixed;
       height: 100vh;
       background-color: #cac9ce;

       background-repeat : no-repeat;
       background-size : 100%;
       background-position: 0 100%;
       width: 100%;
       position: relative;
     }

     #campaign-01 article {
       height:50vh;
       position: absolute;
       text-align: center;
       top: 200px;
       width: 100%;
     }

     #campaign-02 {
       background: url(https://d353obgi8xzt9w.cloudfront.net/notice/20210617/a5b2c34f358a07fb03e15dd3971686cc.jpg) 100% 0 repeat fixed;
background-color: #060807;
       min-height: 100vh;
       background-repeat : no-repeat;
       background-size : cover;
       margin: 0 auto;
       width: 100%;
       max-width: 1920px;
       position: relative;
       -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.3);
       box-shadow: 0 0 50px rgba(0,0,0,0.3);
     }

     #campaign-02 article {
       height:50vh;
       position: absolute;
       text-align: center;
       top: 200px;
       width: 100%;
     }



     #campaign-03 {
       background: url(https://d353obgi8xzt9w.cloudfront.net/notice/20210617/09131015da94b2d068258c2967c3b423.jpg) 100% 0 repeat fixed #eee;
       min-height: 100vh;
       margin: 0 auto;
       background-repeat : no-repeat;
       background-size : cover;
       width: 100%;
       max-width: 1920px;
       position: relative;
     }

     #campaign-03 article {
       height:50vh;
       position: absolute;
       text-align: center;
       top: 200px;
       width: 100%;
     }


     #btn
     {margin-top: 20px;
     text-align: center;
     border: 0px solid #FFFFFF;
     float: center;
     border-radius: 4px;
     width: 100%;

     background: #00b8ff;
     height: 68px;
     font-size: 18px;
     font-weight:400;
     color: #fff;}
.container{padding-right: 180px;
    padding-left: 180px;}
.btn-container{padding-right: 180px;
    padding-left: 180px;}
         #coupon{ background: #E6F6FF;overflow-y: hidden;
           padding-bottom: 120px;padding-top: 100px;}

         #coupon .text {position: relative;margin: auto 0;
         padding: 0px 0px 0px 0px;text-align: center; z-index: 01;}
         #coupon .coupon_box {position: static;
         background: #FFFFFF;  border-radius: 10px;
         box-shadow: 0px 4px 30px rgba(214, 214, 214, 0.51); position: relative; margin: 50px 30%;
         padding: 42px 0px 42px 0px;text-align: center;}
         #coupon .coupon_box h3 {font-weight: normal; line-height:44px;}
         #coupon .coupon_box b2 {font-weight: bold; color: #00b8ff;padding-bottom: 14px;}
         #move{background: none;
             position: relative;
             left: 150px;margin-bottom: -30px;
             top: -120px;}
             #move img{ width:30%; }


#kakao{ display: flex;
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: left;
    border: 1px solid #fff;
    background-color: #ebf7ff;
    border-radius: 12px;
    width: 100%;
    padding: 24px 50px;
    justify-content: space-around;
    font-size: 16px;
    font-weight: 600;
    color: #646f7c;
    box-shadow: 4px 9px 20px rgb(194 225 246 / 57%);
}
      }
    #kakao b2{color: #28323c;margin-block-start: 0px;font-size:16px;line-height:26px;}
#kakao p{padding-left: 30%; padding-top: 2%; font-size: 24px;}


#link{background: #E6F6FF;}
         #car{padding-bottom: 0px;padding-top: 0px;}
         .movie{margin:140px 0px;}
         #campaign_movie{background: #E6F6FF; }
#campaign_movie .container{padding-right: 180px;
    padding-left: 180px;padding-top: 60px;}
         #notice{padding-left: 24%;
         padding-bottom: 80px;padding-top: 80px;}
         #notice p{margin-top:80px;}
         #notice .container{padding-left: 0px;padding-right: 0px;}
         #notice b2 {font-size: 14px;}
        #notice c2 {font-size: 14px;}
        .check-list {padding-inline-start: 16px;}
        .check-list li {margin-top: 4px; line-height: 20px; text-align: left; position: relative;}
        ::marker{font-size:6px;}


  }
